.cine-header {
    background-color: #1a1a1a;
    color: white;
}
.categoria-cine{
    color:white;
    font-weight: 400px;
}
.categoria-cine:hover {
    color: #f5c518 ;
}
.dropdown-item:hover {
    background-color: #3a3a3a;
    color: #f5c518;
}
.dropdown-menu-genero {
    background-color: #1a1a1a ; 
}
.search-btn { /* Poner la lupa redonda */
    border-radius: 0 20px 20px 0;
    background-color: #f5c518;
    color: #1a1a1a;
}

