/* Header */
.cine-header {
    background-color: #1a1a1a;
    color: white;
}
.categoria-cine{
    color:white;
    font-weight: 400px;
}
.categoria-cine:hover {
    color: #f5c518 ;
}
.dropdown-item:hover {
    background-color: #3a3a3a;
    color: #f5c518;
}
.dropdown-menu-genero {
    background-color: #1a1a1a ; 
}
.search-btn { /* Poner la lupa redonda */
    border-radius: 0 20px 20px 0;
    background-color: #f5c518;
    color: #1a1a1a;
}

.form-control:focus {
    border-color: #f5c518;
    box-shadow: 0 0 0 3.5px rgba(245, 197, 24, 0.25);
}

/*FOOTER*/
footer.bg-dark { 
    background: linear-gradient(45deg, #1a1a1a, #333);
}


.footer-links{
    color:white;
    font-weight: 400px;
}
.footer-links:hover {
    color: #f5c518 ;
}

.social-icons:hover { 
    color: #f5c518 ;
}

/*main*/
/* Asegurar consistencia en las tarjetas */
.card {
    border-radius: 16px75;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Estilo para el rating */
.rating {
    color: #f5c518;
    font-weight: 500;
}

/* Ajuste fino para el contenedor de imágenes */
.ratio-2x3 {
    overflow: hidden;
    border-radius: 0.375rem 0.375rem 0 0 !important;
}