.cine-header {
    background-color: #1a1a1a;
    color: white;
}
.categoria-cine{
    color:white !important; /* Sobreescribe Bootstrap */
}
.categoria-cine:hover {
    color: #f5c518 !important; /* Sobreescribe Bootstrap */
}
